body {
    background-color:#D9DCDC;
    background-color:#1D2935;
     padding-top: 50px;
     font-family: 'Roboto', sans-serif;
}

input[type=radio] {
  margin-right: 10px;
}
.navbar-brand img {
    height:40px;
    width:auto;
    margin-top:-9px;
}
.navbar {
    margin-bottom:3px;
    background-color:#2c3e50;
    border-bottom:none;
}
.box {
    padding:60px;
    background:whitesmoke;
    box-shadow:inset 0px -1px 0px 3px #1D2935;
    color:white!important;
}
.box a {
    color:white!important;
}
.icon {
    font-size:150px;
}
.accordian {
    margin-top:60px;
    padding-bottom:100px;
}
h4.panel-title {
    font-size:28px;
}
.panel-heading {
    padding:30px 40px;
}
.panel-body {
    font-size:18px;
    padding:40px;
}
.box-pink {
    background-color:#AF7aC4;
}
.box-green {
    background-color:#2ecc71;
}
.box-blue {
    background-color:#2980B9;
}
.box-orange {
    background-color:#f39c12;
}
.box-red {
    background-color:#e74c3c;
}
.quiz {
    padding:20px;
    background-color:white;
    max-width:800px;
    margin:0 auto;r
}
.result-circle {
    padding: 20px;
    width: 300px;
    height: 300px;
    line-height: 240px;
    background: #e74c3c;
    border-radius: 50%;
    font-size: 116px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid rgba(0,0,0,0.1);
}


.page-hero {
    background-size:cover;
    background-position:center center;
    padding:100px;
}
.page-hero h1 {
    font-size:60px;
    color:white;
    font-weight:900;
    text-shadow:1px 1px black;
}
.footer {
    color:white;
    font-size:22px;
    margin-bottom:20px;
}
.anxiety-level {
    font-size:24px;
    color:white;
}