<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>cheer.io - Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
{% include 'navbar.html' %}

        <div class="container anxiety-level text-center">
            <h3 style="margin-left:auto;margin-right:auto;text-align:center;"> Your results are: </h3>
            <div class="result-circle">{{mark}}</div>
            <h1 id="anxiety-level">Severe Anxiety</h1>
            <p><strong>Here are some resources recommended for you</strong></p>
            <ul style="padding:0; margin:0; list-style-type:none;">
                <li><a href="#">Self Help Hotline</a></li>
                <li><a href="#">Your local GP's</a></li>
                <li><a href="#">Psych help</a></li>
            </ul>
            <br>
            <p> <strong> Or click <a href="/">here</a> to return to the homepage. </strong> </p>
          </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
    <script>
    var mark = parseInt({{mark}});
    if (mark >= 5 && mark < 8) {
      $('.result-circle').css("background", "#f39c12");
      $('#anxiety-level').html("Moderate Anxiety")
    }
    else if (mark < 5 && mark >= 0) {
      $('.result-circle').css("background", "#2ecc71");
      $('#anxiety-level').html("Low to No Anxiety")
    }
    </script>
</html>
