<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>cheer.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
{% include 'navbar.html' %}

    <div class="hero-text text-center" style="padding:40px; background-color:#aab7b7;">
      <div class="container">
        <img style="height:100px;" src="https://openclipart.org/image/2400px/svg_to_png/181579/tophat.png"/>
        <h1 style="font-weight:bold; font-size:44px;">Cheerio ol' chap!</h1>
        <p class="lead"><em> Anxiety is very common among young adults, and mostly shows up as being perpetually stressed and worried. There is a difference between a person who is stressed due to an upcoming exam for a week, but is no longer stressed after the exam, and a person who has been stressed for weeks without any particular reason. These feelings of anxiety cannot easily be controlled by a person, but they can be managed with help! </em></p>
        </div>

</div>

    <iframe width="100%" height="550" src="https://www.youtube.com/embed/aNG7Pyoj58I" frameborder="0" allowfullscreen></iframe>

    <div class="clearfix">
    <div class="row-fluid">
      <div class="box box-pink col-md-6 text-center">
          <a href="#case-study">
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <h1>Case Studies</h1>
          </a>
      </div>
      <div class="box box-green col-md-6 text-center">
        <a href="/selfassessment">
        <div class="icon">
          <i class="fa fa-smile-o"></i>
        </div>
        <h1>Self Assessment</h1>
      </div>
    </a>
    </div>

    <div class="row-fluid">
      <div class="box box-blue col-md-4 text-center">
        <a href="#causes">
        <div class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <h1>Signs & Causes of Anxiety</h1>
        </div>
      </div>
      <div class="box box-orange col-md-4 text-center">
        <a href="#treatment">
          <div class="icon">
            <i class="fa fa-user-md"></i>
          </div>
          <h1>Types of Anxiety & Treatments</h1>
        </a>
      </div>
      <div class="box box-red col-md-4 text-center">
        <a href="/quiz">
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <h1>Quiz</h1>
        </a>
      </div>
    </div>
</div>


    <div class="accordian container">
      <div class="panel-group" id="causes">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Signs & Causes of Anxiety
            </h4>
          </div>
          <div class="panel-body">
            <h2>Symptoms</h2>
            <p class="lead">Usually develop gradually, and range from light to severe symptoms.</p>
            <ul>
                <li>Racing heart, high heart rate</li>
                <li>Sweating</li>
                <li>Tightening of the chest</li>
                <li>Obsessive thinking and compulsive behaviour</li>
            </ul>
            <h2>Causes:</h2>
            <p class="lead">Anxiety can be a complicated and multi-factorial thing with many causes:</p>
            <p><strong>Current stressful events</strong></p>
            <ul>
                <li>Job issues and changes</li>
                <li>Stress from school, or changing schools</li>
                <li>Problems with family and friends</li>
                <li>Death of a friend, family member or pet</li>
                <li>Major traumatic/stressful event</li>
                <li>Assault or abuse</li>
                <li>Social anxiety </li>
            </ul>
            <p><strong>Problems with your physical health</strong></p>
            <ul>
                <li>Heart disease</li>
                <li>Asthma and respiratory diseases</li>
                <li>Sports injuries </li>
                <li>Chronic headache/migranes</li>
                <li>Hormonal imbalances (eg. Oestrogen changes due to contraception, overactive thyroid) </li>
            </ul>
            <p><strong>Inherent personality</strong></p>
            <ul>
                <li>Tendencies to be a perfectionist</li>
                <li>Controlling personalities </li>
                <li>Sensitive personalities</li>
                <li>Paranoia</li>
                <li>Low self-esteem</li>
            </ul>
            <strong>Drug use</strong>
            <ul>
                <li>Chronic alcohol</li>
                <li>Addictions to pain-killers, marijuana, amphetamines (Methamphetamine and Ice) </li>
            </ul>
            <p><strong>Family history</strong></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="treatment">
          <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  Types of Anxiety & Treatments
              </h4>
          </div>
          <div class="panel-body">
               <p class="lead">Medically, anxiety sufferers experience symptoms causing significant personal distress within the last 12 months.<br><br> Types of anxiety include:</p>
            <p><strong>Panic disorder</strong></p>
            <ul>
                <li>Panic attacks that can be intense, overwhelming and uncontrollable with physical signs of shortness of breath, chest pain dizziness, sweating and the feeling of having a heart attack or being ‘about to die’. Recurrent panic attacks or fear of another panic attack is an indication that the person is suffering from a panic disorder. </li>
            </ul>
            <p><strong>Agoraphobia</strong></p>
            <p><strong>Social anxiety disorder</strong></p>
            <ul>
                <li>Intense fear of being judged, criticized, embarrassed, humiliated or simply scrutinized in every-day situations. This could include public speaking, presenting ideas in class or work, interacting and talking with other people, eating with other people and even simply walking in crowded areas. </li>
            </ul>
            <p><strong>Specific Phobias</strong></p>
            <ul>
                <li>Where a person has an overwhelming fear of an object, situation or type of person that they go to extraordinary lengths to avoid them. Some are quite common but others more rare: 
                  <ul>
                <li>Phobia of snakes</li>
                <li>Phobia of spiders, etc.</li>
                </ul>
                </li>
            </ul>
            <p><strong>Generalized anxiety disorder (GAD) </strong></p>
            <ul>
                <li>Anxiety is present most days, and the person worries about many different things for more than 6 months </li>
            </ul>
            <p><strong>Post-traumatic stress disorder</strong></p>
            <ul>
                <li>After a person experiences a traumatic event (which could be assault, accidents, natural disasters or war) they may feel difficult relaxing, have disturbing and upsetting dreams and flashbacks, avoid associations with that event and have excessive reactions to daily stimuli (Eg. Soldier’s reaction to sudden noises). PTSD should be properly diagnosed by a doctor and usually requires symptoms to be present for at least 1 month. </li>
            </ul>
            <p><strong>Obsessive Compulsive Disorder (OCD)</strong></p>
            <ul>
                <li>Anxiety caused by ongoing thoughts and fears about being neat, tidy, clean or any other aspect of life where even the person knows they are silly and tries to relieve anxiety through behaviors/rituals (eg. Cleaning, washing, organizing). </li>
            </ul>
            <p>The part of the brain associated with anxiety is mostly the amygdala </p>
            <hr>
            <h3>Treatments for Anxiety</h3>
              <ul>
                  <li>Cognitive and behavioural therapy</li>
                  <li>Medication (Benzodiazepines, SSRIs, serotonin/noradrenaline reuptake inhibitors) </li>
                  <li>Cognitive Behaviour Therapy (CBT)</li>
                  <li>E-therapies </li>
              </ul>
          </div>
      </div>
      <div class="panel panel-default" id="case-study">
          <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                  Case Study: <em>"Rising IronMan"</em>
              </h4>
          </div>
          <div class="panel-body">
              <p class="lead">Rising Ironman star Bolt Farrell stands out in the surf with his hair dyed blue to raise awareness and money for beyondblue.</p>
              <p>He is currently competing as one of the top 16 ironmen in Australia in the Kellogg’s Nutri-Grain Ironman Series.</p>
              <p>
Bolt has also covered his surf-ski and paddleboard in beyondblue signage.
The 24-year-old said he decided recently to become a beyondblue ambassador and support the organisation because his family was affected by depression in the past.</p><p>
“The work of beyondblue helps people like those in my family who have experienced depression.
“It’s an organisation that’s very close to my heart because I have seen from personal experience how devastating depression can be.
“I want to do everything I can to smash the stigma around depression and anxiety and let people who are experiencing mental health conditions know that support is readily available.”
In the lead-up to the ironman series, Farrell is training 10 to 12 times per week, with each session lasting up to 2.5 hours.
“Physical health and exercise leads to a positive outlook on life and creates a healthy environment to connect with various people.
“I find personally that if there is something on my mind, training can take away the bad thoughts and helps me see the positives in life.
“If you are experiencing depression or anxiety, it is ok to talk and seek help.
“It is a very common thing in our country, with one in six Australians having experienced anxiety and/or depression in the past 12 months.
“In the current series I am racing in, there are 16 male and 16 female competitors. This means several of them could have experienced a mental health condition in the past 12 months. So remember you are not alone.”
Bolt became involved in Elouera Surf Club when he was 13 as he loved the beach and all his friends were in the surf club.
“Ironman is the sport I have chosen as it creates a healthy, fit lifestyle while being able to help the community by patrolling the beaches.</p><p>
“It’s a great lifestyle to have as you stay fit, train every day and hang out with a good bunch of people.”
The Kellogg’s Nutri-Grain Ironman Series is held over six rounds across three Australian locations – Smiths Beach in the Margaret River region of Western Australia, Newcastle in New South Wales and Coolum Beach in Queensland.
To qualify for the series, which has been running for the last 10 years, more than 50 men competed in a trial event. Farrell was one of the top four men from the trial to qualify for the series to race against the competitors who had already qualified from last year’s series.
Bolt is hoping to raise $15,000 for beyondblue and anyone wishing to support him can visit https://give.everydayhero.com/au/Bolt-farrell-ironman
beyondblue CEO Kate Carnell said Farrell’s commitment to raising awareness was remarkable.</p><p>
“Bolt’s passion for bringing this issue to the attention of Ironman fans and the wider community is inspirational,” she said.
“Not only will thousands of fans who attend the races get to see his show of support, but so will the thousands upon thousands of people who tune-in when the Ironman Series is broadcast on Channel 9.
“I cannot thank Bolt enough for his support and delivering our messages of hope and resilience to the wider community.”
              </p>
          </div>
      </div>

    </div>

    <div class="footer">
        <div class="container">
            <p>In order to succeed, we must first believe that we can.-Nikos Kazantzakis <a style="float:right;" href="mailto:help@cheer.io">Contact Us</a></p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
