<nav class="navbar navbar-default navbar-fixed-top" style="">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-weight:bold; color:white; font-size:22px;"><img style="display:inline-block;" src="/static/img/logo.png"/> cheer.io</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a target="_blank" href="https://www.beyondblue.org.au/get-support/get-immediate-support" style="font-size:22px; font-weight:bold; color:white;">GET HELP!</a></li>
      <li><a href="tel:1300 2694687" style="font-size:22px; font-weight:bold; color:white;"><i class="fa fa-phone"></i> 1300 ANXIOUS</a></li>
    </ul>
  </div>
</nav>
