<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>cheer.io - Self-Assessment</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="page-hero" style="background-image:url(/static/img/self-assessment-bg.jpg);">
          <h1 style="margin-left:auto;margin-right:auto;text-align:center;"> Self-Assessment </h1>
        </div>
        <div class="container" style="">
            <div class="progress" style="margin-top:50px; width:75%;margin-left:auto;margin-right:auto;">
                <div class="progress-bar" role="progressbar" aria-valuenow="1"
                     aria-valuemin="0" aria-valuemax="100" style="width:1%;">
                </div>
            </div>
            <div class="quiz panel" style="">
              <form class="quiz-form" action="/selfassessment" method="POST">
                <h3> Question 1 </h3>
                <p class="question">Do you often feel tired out for no good reason?</p>

                    <input type="radio" name="1" value="a" id="1a" /><label for="">yes</label><br>
                    <input type="radio" name="1" value="b" id="1b" /><label for="first">no</label><br>

                <hr>
                <h3> Question 2 </h3>
                <p class="question">Do you often feel nervous? </p>

                    <input type="radio" name="2" value="a" id="2a" /><label for="">yes</label><br>
                    <input type="radio" name="2" value="b" id="2b" /><label for="first">no</label><br>

                <hr>
                <h3> Question 3 </h3>
                <p class="question">Do you often feel so nervous that nothing could calm you down? </p>

                    <input type="radio" name="3" value="a" id="3a" /><label for="">yes</label><br>
                    <input type="radio" name="3" value="b" id="3b" /><label for="first">no</label><br>

                <hr>
                <h3> Question 4 </h3>
                <p class="question">Do you feel hopeless often?</p>
                <input type="radio" name="4" value="a" id="4a" /><label for="">yes</label><br>
                <input type="radio" name="4" value="b" id="4b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 5 </h3>
                <p class="question">Do you feel restless or fidgety often?</p>
                <input type="radio" name="5" value="a" id="5a" /><label for="">yes</label><br>
                <input type="radio" name="5" value="b" id="5b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 6 </h3>
                <p class="question">Do you feel hopeless often?</p>
                <input type="radio" name="6" value="a" id="6a" /><label for="">yes</label><br>
                <input type="radio" name="6" value="b" id="6b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 7 </h3>
                <p class="question">Do you often feel so restless you could not sit still?</p>
                <input type="radio" name="7" value="a" id="7a" /><label for="">yes</label><br>
                <input type="radio" name="7" value="b" id="7b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 8 </h3>
                <p class="question">Do you often feel depressed?</p>
                <input type="radio" name="8" value="a" id="8a" /><label for="">yes</label><br>
                <input type="radio" name="8" value="b" id="8b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 9 </h3>
                <p class="question">Do you often feel that everything is an effort?</p>
                <input type="radio" name="9" value="a" id="9a" /><label for="">yes</label><br>
                <input type="radio" name="9" value="b" id="9b" /><label for="first">no</label><br>
                <hr>
                <h3> Question 10 </h3>
                <p class="question">Do you often feel so sad that nothing could cheer you up?</p>
                <input type="radio" name="10" value="a" id="10a" /><label for="">yes</label><br>
                <input type="radio" name="10" value="b" id="10b" /><label for="first">no</label><br>
                <hr>
                    <div class="clearfix text-center" >
                        <input type="submit" class="btn btn-lg btn-primary" value="Submit">
                    </div>
                </form>

            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
